* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
}

.calendar {
    flex: 1;
}

.timeline {
    display: flex;
    height: 100%;
}

.food-log-form {
    padding: 0 10px;
}

.input {
    text-align: left;
}
.food-log-form{
    width: 100%;
    align-self: flex-start;
}
.food-log-form>h2 {
    text-align: center;
    color: #33b5e5;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
}
.food-log-form>.button{
    margin:10px 0;
}
.days-of-week {
    width: 100%;
    color: white;
    display: flex;
}
svg{
    margin: 10px;
}
svg:hover{
    color: #ff69b4;;
}
@media all and (max-width: 480px) {
    .timeline {
        flex-direction: column;
    }
}