*{
    box-sizing: border-box;
}
li {
    list-style: none;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
.calendar{
    height: 100vh;
}
.days-of-week {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}

.timeline {
    display: flex;
    height: 100vh;
}