.day {
    background-color: bisque;
    border-right: 1px solid grey;
    width: 100%;
    text-align: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: flex-start;
}
.day li{
    box-sizing: border-box;
    
}
.meal-time {
    width: 100%;
}

.meal-time a {
    display: block;
    padding: 5px;
}

.lunch {
    background-color: blanchedalmond;
}