nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.week ul {
    display: flex;
    align-items: flex-end;
}

.day-name {
    font-size: 18px;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
}

#meal-header {
    flex: 0.2 0.2;
    width: 20px;
    background-color: #e66b6b;
}

.day-name>span {
    font-size: 20px;
    box-sizing: border-box;
    background-color: #428bca;
    border-radius: 50%;
    display: inline-block;
    height: 3em;
    line-height: 3em;
    text-align: center;
    width: 3em;
}

span.no-style {
    background-color: transparent;
}

.day-name>ul {
    display: flex;
    height: 80vh;
    box-sizing: border-box;
    flex-direction: column;
}

.day-name>p {
    padding: 0;
    margin: 0;
}

.meal-time {
    align-self: flex-start;
    flex: 1;
    border-bottom: 1px solid;
}

.meal-time>p {
    transform: rotate(90deg);
    padding: 0;
    position: relative;
    text-align: center;
    top: 100px;
    margin: 0;
}

li.header {
    font-size: 24px;
    position: relative;
    letter-spacing: 3px;
}