nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.week ul {
    display: flex;
}

.day-name {
    font-size: 18px;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
}

#meal-header {
    flex: 0.1;
    width: 10px;
    position: relative;
}

.day-name span {
    font-size: 20px;
}

.day-name ul {
    display: flex;
    height: 90vh;
    ;
    flex-direction: column;
}

.meal-time {
    align-self: flex-start;
    flex: 1;
    border-bottom: 1px solid;
}

.meal-time span {
    display: inline-block;
}

li.header {
    font-size: 24px;
    position: relative;
    letter-spacing: 3px;
}