header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #357ebd;
}

header a {
    color: white;
}

nav a {
    padding: 10px;
}

@media all and (max-width: 390px) {
    nav>li {
        display: block;
    }
}