header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #285c89;
}

header a {
    color: white;
}

nav a {
    padding: 10px;
}

@media all and (max-width: 480px) {
    nav a{
        display: block;
    }
    nav>a {
        padding: 5px 0;
    }
}